.CoveoTextBlock {
    background-color: #fff;

    .text-block {
        &.header {
            font-weight: bold;
        }

        &.header,
        &.text {
            white-space: normal;
        }
    }
}

@media screen and (max-device-width: 768px) {
    .text-block {

        &.header,
        &.text {
            padding: 5px 15px;
            margin: 0px;
        }
    }
}